*{
    box-sizing: border-box;

}
img{
    max-width: 100%;
    height: 250px;
    margin: 0 auto;
}
.cafe_dishes{
    width: 70%;
    margin: 0 auto;
}
.top{
    background: #0088CC;
    padding: 20px;
    color: white;
    font-weight: bold;
}
.top, .foods{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 25px;

}
.right, .left{
    width: 40%;
}
.food{
    width: 30%;
    border: 3px solid #dd6666;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 20%;
}
.food p, .food h3{
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}