{% extends "base.html.twig" %}

{% block title %}AppBundle:Cafe:index{% endblock %}

{% block body %}

    {% for dishes in dishesByPlaces %}
        <div class="cafe_dishes">
            <div class="top">
                <div class="left">
                    <img src="/uploads/cafe-image/{{ dishes.cafe.image }}" alt="" width="200px">
                </div>
                <div class="right">
                    <h2><a href="/profile/{{ dishes.cafe.id }}">{{ dishes.cafe.name }}</a></h2>
                    <p>{{ dishes.cafe.description }}</p>
                </div>
            </div>
            <div class="foods">
                {% for food in dishes.dishes %}

                    <div class="food">
                        <h3>{{ food.food.name }}</h3>
                        <img src="uploads/food-image/{{ food.food.image }}" alt="">
                        <p>Количество продаж за последний год - {{ food.amount }}</p>
                    </div>


                {% endfor %}
            </div>
        </div>

    {% endfor %}
{% endblock %}
