{% extends "base.html.twig" %}

{% block title %}AppBundle:Cafe:profile{% endblock %}

{% block body %}
    {% for cafe in cafes %}
        <div class="cafe_dishes">
            <div class="top">
                <div class="left">
                    <img src="/uploads/cafe-image/{{ cafe.image }}" alt="" width="200px">
                </div>
                <div class="right">
                    <h2>{{ cafe.name }}</h2>
                    <p>{{ cafe.description }}</p>
                </div>
            </div>
            <div class="foods">
                {% for food in cafe.foods %}
                    <div class="food">
                        <h3>{{ food.name }}</h3>
                        <img src="/uploads/food-image/{{ food.image }}" alt="">
                        <p>{{ food.price }} сом</p>
                    </div>

                {% endfor %}
            </div>

        </div>

    {% endfor %}
{% endblock %}
